services:
  shamaut_wordpress:
    image: wordpress:latest
    container_name: shamaut_wordpress
    restart: always
    environment:
      WORDPRESS_DB_HOST: shamaut_db
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: shamaut_wordpress
    volumes:
      - shamaut_wordpress_data:/var/www/html
      - ./custom-php.ini:/usr/local/etc/php/conf.d/custom-php.ini

    networks:
      - actappon_wordpress_network

  shamaut_db:
    image: mysql:5.7
    container_name: shamaut_db
    restart: always
    environment:
      MYSQL_DATABASE: shamaut_wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
      MYSQL_ROOT_PASSWORD: rootpassword
    volumes:
      - shamaut_db_data:/var/lib/mysql
    networks:
      - actappon_wordpress_network

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    volumes:
      - ./nginx/default.conf:/etc/nginx/nginx.conf
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
      - ./nginx/logs:/var/log/nginx
    ports:
      - "80:80"
      - "443:443"
    networks:
      - actappon_wordpress_network

  certbot:
    image: certbot/certbot:latest
    container_name: certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: >
      /bin/sh -c '
      while :; do
        certbot renew --quiet &&
        docker exec nginx nginx -s reload;
        sleep 12h;
      done'
    networks:
      - actappon_wordpress_network

volumes:
  shamaut_wordpress_data:
  shamaut_db_data:

networks:
  actappon_wordpress_network:
    #external: true
    driver: bridge

